<b><%# @titel%></b>
<%# @titles%>
<%# @images%>
<br>
<%# image_tag(@image)%>

<table width="100%" border="1">
    <tr>
        <td>
        	title
        </td>
        <td>
        	image
        </td>
    </tr>
<% @amazon_books.each do |book|%>
    <tr>
        <td>
        	<%= book.title%>
        </td>
        <td>
        	<%= image_tag(book.image)%>
        </td>
    </tr>
<%end%>
</table>

